body {
    margin: 0;
    padding: 0;
}
.navbar{
    display: block !important;
}
.placebranco::placeholder {
    color: white !important;
}

.navcol {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-h {
    background-color: #0f0f0f;
    border-left: 30px;
    padding: 0;

}

#menu-h .row .navcol ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}



#menu-h .row .navcol .navRow a {
    color: #fff;
    border-radius: 2px;
    padding: 15px 1px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;

}

#menu-h .row .navcol .navRow a:hover {
    border-radius: 2px;
    background-color: #7f7f7f;
}




/*#btnMudarTema {*/
/*    background-color: #0f0f0f !important;*/
/*    color: #FFC107 !important;*/
/*    padding: 5px 15px;*/
/*    border-radius: 10px;*/
/*    border: #FFC107 1px solid;*/
/*}*/

